<!-- app.sim.timeline.Item -->
<div class="timeline card item" id="{{id}}">
    <div class="ui tiny image">
        <img class="{{type}}" src="{{image.thumbnail}}">
        <!-- <img src=""> -->
    </div>
    <div class="content">
        <span>{{name}}</span>
    </div>
</div>
