<!-- app.sim.timeline.Event -->
<div class="timeline card item" id="{{id}}">
    <div class="ui tiny circular image">
        <img src="{{image.thumbnail}}">
    </div>
    <div class="middle aligned content">
        <div class="header">
            {{name}}
        </div>
    </div>
</div>
