<!-- app.sim.timeline.Tooltip -->
<div class="ui divided link items">
    <div class="timeline card item tooltip" id="tooltip">
        <div class="box">
            <div class="ui tiny image">
                <img id="tooltip-image" src="">
            </div>
            <div class="content">
                <h5 id="tooltip-name"></h5>
                <p id="tooltip-year"></p>
            </div>
        </div>
    </div>
</div>
